<div class="product_item collect-block visible-xs">
<div class="product">
  <div class="product-container">

    <div class="product-wrap">
      <div class="product-image">
        <div class="wrap">
          {% include 'spinner2' %}
          <a>
            <img src="{{ 'col-block.jpg' | asset_url }}" class="main-image img-responsive" alt="{{ prod.title }}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>