<div class="widget-wrapper widget-subscribe">

  <h3>Keep In Touch</h3>
  <p>Signup to hear the latest news from Paul Andrew.</p>
  <form action="//paulandrew.us11.list-manage.com/subscribe/post?u=37a3aa761498960efd667ae4a&amp;id=85e94e1a8b" method="post" class="mailing-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="group-input">
      <input placeholder="Email Address..." type="email" required="required" name="EMAIL" />
      <button type="submit" title="Subscribe to Our Newsletter"><i class="icon-pa-arrow-right"></i></button>
    </div>
  </form>
  <p><small>Read Our <a href="/pages/privacy-policy">Privacy Policy</a>.</small></p>

</div>