<div class="widget-wrapper widget-menu">
  <h3>Where To Buy</h3>
  <ul class="list-unstyled list-styled">
    {% for link in linklists.footer-where-to-buy.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
