<div id='home-slider' class="jumbotron_hero">
  <div class="slide-caption caption header">
    
    <h2>Spring/Summer 2016</h2>

    <div class="caption sub">
      <div class="caption-link">
        <a class="btn" href="/collections/spring-summer-2016">See The Collection</a>
      </div>
    </div>

  </div>
  <a class='arrow-link' data-target='#col-main' href='#col-main'>{{ 'arrow2.png' | asset_url | img_tag }}</a>
</div>
