{% assign tmp = settings.product_shipping_return %}
{% assign temp = pages[tmp] %}

<div class="product-tabs">
  <div class="product-tab">
    <ul class="nav nav-tabs" id="product-tab">
      <li class="active"><a href="#product-description"><span>{{'products.product.description' | t}}</span></a></li>

      <li><a href="#product-details"><span>Details</span></a></li>


      {% if settings.reviews_enable %}
      <li><a id="product-reviews-a" href="#product-reviews">{{'products.product.customer_reviews' | t}}</a></li>
      {% endif %}
    </ul>




    <div class="tab-content">
      <div class="tab-pane active" id="product-description">
        <div itemprop="description">
          {{product.content}}
        </div>
      </div>

      <div class="tab-pane" id="product-details">
        <div itemprop="prod-details">
          {{product.content}}
        </div>
      </div>
    </div>

  </div>
</div>