<div class="icon_spinner svg" style="display:none;">
  <span class="mask"></span>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="68px" height="68px">
    <circle cx="34" cy="34" r="32" stroke-width="2px" stroke="{{settings.waiting_spinner}}" fill="none"></circle>
  </svg>
</div>