<div class="icon_spinner2 svg" style="display:none;">
  <span class="mask"></span>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
    <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
  </svg>
</div>