$icon-pa-brand: "\e900";
$icon-pa-logo: "\e901";
$icon-pa-account: "\e902";
$icon-pa-user-account: "\e903";
$icon-pa-user: "\e903";
$icon-pa-heart: "\e904";
$icon-pa-heart-full: "\e905";
$icon-pa-shopping-bag: "\e906";
$icon-pa-shopping-bag-full: "\e907";
$icon-pa-search: "\e908";
$icon-pa-arrow-left: "\e909";
$icon-pa-arrow-right: "\e90a";
$icon-pa-close-x: "\e90b";
$icon-pa-share-arrow: "\e90c";
$icon-pa-toggle-carousel: "\e90d";
$icon-pa-toggle-carousel-full: "\e90e";
$icon-pa-toggle-grid: "\e90f";
$icon-pa-toggle-grid-full: "\e910";
$icon-pa-lg-arrow-down: "\e911";
$icon-pa-lg-arrow-up: "\e912";
