<div class="box-wrap">
  {% if settings.show_slideshow %}
  {% include 'home-slider' %}
  {% elsif settings.video_active %}
  {% include 'home-video' %}
  {% endif %}
</div>

<div id="col-main">
  {% if settings.featured_products_home %}
  <section class="container-fluid">
    <div class="row text-center">
    {% if settings.featured_products_home_heading != blank %}
      <h2>{{ settings.featured_products_home_heading }}</h2>
    {% endif %}
    {% if settings.featured_products_home_subheading != blank %}
      <p>{{ settings.featured_products_home_subheading }}</p>
    {% endif %}
    </div>

    <div id="featured-products" class="row cat-grid">
      {% assign collection = collections[settings.featured_products_home_collection] %}
      {% for prod in collection.products limit: settings.featured_products_home_num %}
      <div class="product_item item-{{prod.id}}">
        {% include 'product-item' %}
      </div>
      {% endfor %}
    </div>
    <!-- rise of paul, journal and instgram section starts -->
      {% include 'home-slider2' %}
    <!-- rise of paul, journal and instgram section ends -->
  </section>
  {% endif %}

  {% include 'static-block' %}

</div>

<script>
$('.arrow-link').click(function(e){
  e.preventDefault();
  $('html,body').animate({
   scrollTop: $($(this).data('target')).offset().top
  },400);
})
</script>