<div class="stockists-content">
  <div class="stockists-hero-img">
    <h1>SHOP PAUL ANDREW WORLDWIDE</h1>
    <p>Paul Andrew shoes are designed in New York, handcrafted in Italy, and carried by only the most prestigious fashion boutiques in the world.</p>
    <a class="active stockistType onlineVendors" data-target='#onlineVendors'href="#"><h2>WOMEN'S - ONLINE</h2></a><a class='active stockistType inStoreVendors' data-target='#inStoreVendors' href="#"><h2>WOMEN'S - IN-STORE</h2></a><a class='active stockistType inStoreVendors' data-target='#mensVendors' href="#"><h2>MEN'S</h2></a>
  </div>
  <div id='onlineVendors' class="hidden vendors online-vendors">
  </div>

  {% include 'spinner2' %}
  
  <div id='inStoreVendors' class="hidden vendors in-store">
    <a href="#region-expanded" data-toggle="collapse" aria-expanded="true" aria-controls="region-expanded" class='regionToggle'>
      <div class="region">
        <h3>REGION</h3>
        <i class="icon-pa-arrow-down sortby-arrow"></i>
      </div>
    </a>


    <div class="collapse in" id="region-expanded">
      <div class="well">
        <!-- Mobile render -->
        <ul class="panel-group visible-xs-block" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <li class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  NORTH AMERICA
                  <i class="fa fa-angle-down fa-2x sortby-arrow"></i>
                </h4>
              </li>
            </a>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="list-group" >
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#usa'>
                  <li>
                    <h4 class="panel-title">UNITED STATES</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#canada'>
                  <li>
                    <h4 class="panel-title">CANADA</h4>
                  </li>
                </a>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <li class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  EUROPE
                  <i class="fa fa-angle-down fa-2x sortby-arrow"></i>
                </h4>
              </li>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="list-group">
                <li>
                  <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#'>
                    <h4 class="panel-title">GERMANY</h4>
                  </a>
                </li>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#italy'>
                  <li>
                    <h4 class="panel-title">ITALY</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#united-kingdom'>
                  <li>
                    <h4 class="panel-title">UNITED KINGDOM</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#france'>
                  <li>
                    <h4 class="panel-title">FRANCE</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#spain'>
                  <li>
                    <h4 class="panel-title">SPAIN</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#ukraine'>
                  <li>
                    <h4 class="panel-title">UKRAINE</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#netherlands'>
                  <li>
                    <h4 class="panel-title">NETHERLANDS</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#portugal'>
                  <li>
                    <h4 class="panel-title">PORTUGAL</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#switzerland'>
                  <li>
                    <h4 class="panel-title">SWITZERLAND</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#kazakhstan'>
                  <li>
                    <h4 class="panel-title">KAZAKHSTAN</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#belgium'>
                  <li>
                    <h4 class="panel-title">BELGIUM</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#cyprus'>
                  <li>
                    <h4 class="panel-title">CYPRUS</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#russia'>
                  <li>
                    <h4 class="panel-title">RUSSIA</h4>
                  </li>
                </a>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <li class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  MIDDLE EAST
                  <i class="fa fa-angle-down fa-2x sortby-arrow"></i>
                </h4>
              </li>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="list-group">
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#quatar'>
                  <li>
                    <h4 class="panel-title">QUATAR</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#kuwait'>
                  <li>
                    <h4 class="panel-title">KUWAIT</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#united-arab-emirates'>
                  <li>
                    <h4 class="panel-title">UNITED ARAB EMIRATES</h4>
                  </li>
                </a>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <li class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  ASIA
                  <i class="fa fa-angle-down fa-2x sortby-arrow"></i>
                </h4>
              </li>
            </a>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="list-group">
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#korea'>
                  <li>
                    <h4 class="panel-title">KOREA</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#singapore'>
                  <li>
                    <h4 class="panel-title">SINGAPORE</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#china'>
                  <li>
                    <h4 class="panel-title">CHINA</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#hong-kong'>
                  <li>
                    <h4 class="panel-title">HONG KONG</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#indonesia'>
                  <li>
                    <h4 class="panel-title">INDONESIA</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#japan'>
                  <li>
                    <h4 class="panel-title">JAPAN</h4>
                  </li>
                </a>
                <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expnaded" data-country='#taiwan'>
                  <li>
                    <h4 class="panel-title">TAIWAN</h4>
                  </li>
                </a>
              </div>
            </div>
          </div>


        </ul>

        <!-- Desktop Render -->

        <div class="hidden-xs desktop-regions">
          <div class="desktop-region">
            <div class="list-element">
              <h3>NORTH AMERICA</h3>
            </div class="list-element">
            <div class="list-element country" data-country='#canada'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>CANADA</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#usa'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>UNITED STATES</h4>
              </a>
            </div class="list-element">
          </div>
          <div class="desktop-region">
            <div class="list-element">
              <h3>EUROPE</h3>
            </div class="list-element">
            <div class="list-element country" data-country='#germany'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>GERMANY</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#italy'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>ITALY</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#united-kingdom'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>UNITED KINGDOM</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#france'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>FRANCE</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#spain'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>SPAIN</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#ukraine'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>UKRAINE</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#netherlands'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>NETHERLANDS</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#portugal'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>PORTUGAL</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#switzerland'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>SWITZERLAND</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#kazakhstan'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>KAZAKHSTAN</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#belgium'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>BELGIUM</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#cyprus'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>CYPRUS</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#russia'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>RUSSIA</h4>
              </a>
            </div class="list-element">
          </div>
          <div class="desktop-region">
            <div class="list-element">
              <h3>MIDDLE EAST</h3>
            </div class="list-element">
            <div class="list-element country" data-country='#quatar'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>QUATAR</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#kuwait'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>KUWAIT</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#united-arab-emirates'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>UNITED ARAB EMIRATES</h4>
              </a>
            </div class="list-element">
          </div>
          <div class="desktop-region">
            <div class="list-element">
              <h3>ASIA</h3>
            </div class="list-element">
            <div class="list-element country" data-country='#korea'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>KOREA</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#singapore'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>SINGAPORE</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#china'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>CHINA</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#hong-kong'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>HONG KONG</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#indonesia'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>INDONESIA</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#japan'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>JAPAN</h4>
              </a>
            </div class="list-element">
            <div class="list-element country" data-country='#taiwan'>
              <a href="#region-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="region-expanded">
                <h4>TAIWAN</h4>
              </a>
            </div class="list-element">
          </div>
        </div>
        <a href="#region-expanded" data-toggle="collapse" aria-expanded="true" aria-controls="region-expanded">
          <i class="icon-pa-lg-arrow-up"></i>
        </a>
      </div>
    </div>
    
    <div id='countryData'>
    </div>

    
    <div id="kazakhstan" class="hidden in-store in-store-vendors">
      <h2>KAZAKHSTAN</h2>
      <div class="stores">
        <div class="store">
          <h2>California</h2>
          <h3>Neiman Marcus</h3>
          <p>9700 Wilshire Boulevard</p>
          <p>Beverly Hills, CA 90212</p>
          <p>tel: 310.550.5900</p>
        </div>
        <div class="store">
          <h2>California</h2>
          <h3>Intermix</h3>
          <p>400 N.Beverly Hills Dr.</p>
          <p>Beverly Hills, CA 09210</p>
          <p>tel: 310.623.1619</p>
        </div>
        <div class="store">
          <h2>California</h2>
          <h3>Intermix</h3>
          <p>110 Robertson Blvd.</p>
          <p>los Angeles, CA 90048</p>
          <p>tel: 310.860.0113</p>
        </div>
        <div class="store">
          <h2>Connecticut</h2>
          <h3>Walin and Wolf</h3>
          <p>36 Elm St.</p>
          <p>New Canaan, CT 06840</p>
          <p>tel: 203.966.4281</p>
        </div>
        <div class="store">
          <h2>Florida</h2>
          <h3>Neiman Marcus</h3>
          <p>9700 Collins Ave</p>
          <p>Bal Harbour, FL 33154</p>
          <p>tel: 305.865.6161</p>
        </div>
        <div class="store">
          <h2>Florida</h2>
          <h3>Intermix</h3>
          <p>1005 Lincoln Rd.</p>
          <p>Miami Beach, FL 33139</p>
          <p>tel: 305.604.6353</p>
        </div>
        <div class="store">
          <h2>Florida</h2>
          <h3>Intermix</h3>
          <p>9700 Collins Avenue</p>
          <p>Bal Harbour, FL 33154</p>
          <p>tel: 305.993.1232</p>
        </div>
        <div class="store">
          <h2>Florida</h2>
          <h3>Carpetto Shoes</h3>
          <p>5822 Sunset Dr.</p>
          <p>South Miami, FL 33143</p>
          <p>tel: 305.661.7767</p>
        </div>
      </div>
    </div>
    {% comment %}
    {% endcomment %}
  </div>
  
  <div id='mensVendors' class='hidden vendors online-vendors'>
  </div>

</div>

<div id='instore-vendor-data' class='hidden'>
  {{ page.content }}
</div>

{{ 'stockists.js' | asset_url | script_tag }}