<div class="press-page-content">
  <a href="#sortby-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="sortby-expanded">
    <div class="sortby">
      <h3>SORT</h3>
    <i class="fa fa-angle-down fa-2x sortby-arrow"></i>
    </div>
  </a>
  <div class="collapse" id="sortby-expanded">
    <div class="well">
      <div class="row">
        <div class="col-xs-2 col-sm-4"></div>
        <div class="col-xs-10 col-sm-8"><a href="#">PRESENT - PAST</a></div>
        <div class="col-xs-10 col-sm-8"><a href="#">PUBLICATION A-Z</a></div>
        <div class="col-xs-2 col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-4"></div>
        <div class="col-xs-10 col-sm-8"><a href="#">PAST - PRESENT</a></div>
        <div class="col-xs-10 col-sm-8"><a href="#">PUBLICATION Z-A</a></div>
        <div class="col-xs-2 col-sm-4"></div>
      </div>
    </div>
  </div>


</div>
